<html>
  <body>
    <p>Dear {{invited_name}}:</p>

    <p>{{inviter_name}} has invited you to join belinkr.</p>

    <p>belinkr is a collaboration platform that {{entity_name}} uses to coordinate work across teams, speed up communication through chat and videoconferencing, and receive realtime activity updates. You can know more about belinkr at http://www.belinkr.com</p>

    <p>To accept this invitation and sign up to belinkr please click in {{invitation_link}}</p>

    <p>Best regards,</p>

    <p>The belinkr team.</p>
  </body>
</html>
