<html>
  <body>
    <p>Estimado {{invited_name}}:</p>

    <p>{{inviter_name}} te ha invitado a unirte a belinkr.</p>

    <p>belinkr es una plataforma de colaboración que {{entity_name}} utiliza para coordinar el trabajo entre equipos, agilizar la comunicación a través de chat y videoconferencia, y recibir actualizaciones en tiempo real. Puede conocer más sobre belinkr en http://www.belinkr.com</p>

    <p>Para aceptar esta invitación y unirse a belinkr, por favor haga click en {{invitation_link}}</p>

    <p>Atentamente,</p>

    <p>El equipo de belinkr.</p>
  <body>
</html>
