<html>
  <body>
    <p>Estimado {{user_name}}:</p>

    <p>Hemos recibido una petición para restablecer su contraseña.</p>

    <p>Si ha iniciado esta petición, por favor haga click en {{reset_link}} para restablecer su contraseña.</p>

    <p>Si usted no ha iniciado esta petición, por favor ignore este mensaje. Su cuenta está segura y en perfecto estado. Estaremos encantados de atender sus preguntas en nuestra área de soporte: http://help.belinkr.com</p>

    <p>Atentamente,</p>

    <p>El equipo de belinkr.</p>
  </body>
</html>
